body{
    background-color: #fafad2;
}
<<<<<<< HEAD
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
}
p{
    margin: 10px;
}
footer{
    background-color: #faecd2;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
=======
footer{
    background-color: #faecd2;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 20px;
}
>>>>>>> cb9537d87bb8fabb7255c9d286592ab4b37d992f
