body{
    background-color: paleturquoise;
}
footer{
    background-color: rgb(128, 255, 244);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 20px;
}